* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #F4A261 ;
    padding: 2.5rem 0;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #FAF3E0 ;
    color: #333333;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    background: #B35C44 ;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}