* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #F4A261 ;
    padding: 2.5rem 0;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #FAF3E0 ;
    color: #333333;
}